<div class="content" role="main">
    <h1>Bienvenido a la Sakila Rental</h1>
    <br>
    <h3>Por favor seleccione el país en el que desea rentar</h3>
    <div class="row align-items-center" style="width: 100%;">
      <div class="col d-flex justify-content-center text-center">
        <a routerLink="/catalog/20"><img [src]="imageC" class="flag"></a>
        <h2>Canada</h2>
      </div>
      <div class="col d-flex justify-content-center text-center">
        <a routerLink="/catalog/8"><img [src]="imageA" class="flag"></a>
        <h2>Australia</h2>
      </div>
    </div>  
  </div>