<div class="container">
  
    <nav class="navbar">
        <div class="container-fluid">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="título//actor" aria-label="Search">
            <button class="btn" type="submit">Buscar</button>
          </form>

          <a routerLink="/shopcart" >Carrito ({{cart}})<i class="fas fa-shopping-cart"></i></a>
          
          <div *ngIf=" getCustomer() == false; else Enter">
            <a routerLink="/session" >Ingresar</a>
            &nbsp;&nbsp;
            <a routerLink="/session" >Crear cuenta</a>
          </div>
          <ng-template #Enter>
            <strong> Bienvenido {{getName()}}</strong>
            <a (click)="Logout()" class="LogOut">Salir  <i class="fas fa-sign-out-alt"></i></a>
          </ng-template>
          
          
        </div>
    </nav>
    <br><br>
    <h1>Alquila tu película favorita</h1>
    <div class="films">
        <h2 style="width: 10%;">Estrenos</h2>
        <carousel [minSwipeDistance]="50" [cellsToShow]="5" [height]=350>
            <div class="carousel-cell" *ngFor="let film of DebutFilms;">
                <div class="card" style="width: 18rem; height: 21rem;">
                    <img src="https://picsum.photos/700/400?random" class="card-img-top">
                    <div class="card-body" style="max-height: 45%;">
                      <h5 class="card-title">{{film.title}}</h5>
                      <p class="card-text">Estado: Agotado</p>

                      <button (click)=addCarrito(film.filmId) *ngIf="selected(film.filmId) != true; else Quitar"> <i class="fas fa-cart-plus"></i> </button>
                      <ng-template #Quitar>
                        <button (click)=deleteFilm(film.filmId) class="delete">Quitar película  <i class="fas fa-minus-circle"></i></button>
                      </ng-template>
                    </div>
                  </div>
            </div>
        </carousel>
        <br><br><br>
        <h2>Las más rentada en la última semana</h2>
        <carousel [minSwipeDistance]="50" [cellsToShow]="5" [height]=350>
            <div class="carousel-cell" *ngFor="let film of LastRental">
                <div class="card" style="width: 18rem; height: 21rem;">
                    <img src="https://picsum.photos/700/400?random" class="card-img-top" >
                    <div class="card-body"  style="max-height: 45%;">
                      <h5 class="card-title">{{film.title}}</h5>
                      <p class="card-text">Estado: Agotado</p>
                      <button (click)=addCarrito(film.filmId) *ngIf="selected(film.filmId) != true; else Quitar"> <i class="fas fa-cart-plus"></i> </button>
                      <ng-template #Quitar>
                        <button (click)=deleteFilm(film.filmId) class="delete">Quitar película  <i class="fas fa-minus-circle"></i></button>
                      </ng-template>
                    </div>
                  </div>
            </div>
        </carousel>
        <br><br><br>
        <h2>Las más rentadas de todos los tiempos</h2>
        <carousel [minSwipeDistance]="50" [cellsToShow]="5" [height]=350>
            <div class="carousel-cell" *ngFor="let film of MaxRental">
                <div class="card" style="width: 18rem; height: 21rem;">
                    <img src="https://picsum.photos/700/400?random" class="card-img-top">
                    <div class="card-body"  style="max-height: 45%;">
                      <h5 class="card-title">{{film.title}}</h5>
                      <p class="card-text">Estado: Agotado</p>
                      <button (click)=addCarrito(film.filmId) *ngIf="selected(film.filmId) != true; else Quitar"> <i class="fas fa-cart-plus"></i> </button>
                      <ng-template #Quitar>
                        <button (click)=deleteFilm(film.filmId) class="delete">Quitar película  <i class="fas fa-minus-circle"></i></button>
                      </ng-template>
                    </div>
                  </div>
            </div>
        </carousel>
    </div>

</div>
